body{
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 20px;
    color: white;
    line-height: 1.6;
}
header{
    background-color:brown;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-align: center;
}
header h1{
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
#description{
    max-width: 800px;
    margin: 24px auto;
    font-size: 18px;
    text-align: center;
}
form{
    max-width: 650px;
    margin: 24px auto;
}
form label{
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}
form input, form textarea, form button{
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;

}
form button{
    background-color: #22b53f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#result{
    max-width: 800px;
    margin: 24px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    color: black;
}